a.gemname, a.gemname:link, a.gemname:visited { 
  color:#333; 
  padding:2px 3px; 
  text-decoration:none; 
}
a.gemname:hover { 
  color:#000; 
  background:#999; 
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
}
body { background: #aaa }
#about {
  position:absolute;
  top:3px;
  right:14px;
  font-weight:bold;
  text-decoration:none;
}
#navbar {
  height:27px;
  margin:4px 5px 0 5px;
}
#navbar strong {
  background:#555;
  padding:3px 5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
#navbar strong a,
#navbar strong a:link,
#navbar strong a:visited {
  color:#fff;
  text-decoration:none;
}
#nav {
  position:absolute;
  top:21px;
  left:5px;
  padding:10px;
  width:80%;
  z-index:1;
  background:#eee;
  border:6px solid #555;
  overflow:auto;
  line-height:2.5em;
  text-align:justify;
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
  -moz-border-radius-topleft:0;
  -moz-border-radius-topright:20px;
  -webkit-border-bottom-left-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -webkit-border-top-left-radius:0;
  -webkit-border-top-right-radius:20px;
}
#nav .gemname {
  font-size:1.2em;
}
#nav span.gemname {
  color:#aaa;
}
.version {
  font-size:.9em;
  color:#666;
}
#current .version {
  text-decoration:none;
}
#viewport {
  position:absolute;
  top:27px;
  width:100%;
  z-index:0;
}
#viewport iframe {
  border-top:1px solid #000;
  width:100%;
  height:100%;
}
.gem {
  white-space:nowrap;
}
#current a {
  font-weight:bold;
}
#current a.selected {
  color:#000;
}
