<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
  lang="en">
  <head>
    <title>Bdoc &mdash; Your Local Gem Browser</title>
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="bdoc.css" type="text/css" media="screen" />
    <script type="text/javascript" language="javascript" charset="utf-8">
      // <![CDATA[
      var gems = <%= @gems.to_json %>;
      $ = jQuery;
      var test;
      var resizeViewport = function() {
        $("#viewport").height($(window).height() - $("#navbar").height() - 1);
        $("#viewport").width($(window).width());
      };
      var selectGem = function() {
        var viewport = $("#viewport iframe");
        viewport.attr('src',this.href).show();
        $('#nav').toggle();
        var selectedGem = $(this).clone();
        var selectedVer = $(this).siblings('span.version').text();
        var versions = $.map($.grep(gems, function(n,i) {return (n.name == selectedGem.text())})[0].versions,
          function(n) { 
          var selected = '';
            if(n.version==selectedVer) {
              selected = ' selected'; 
            }
            if(n.rdoc_index == null) {
              return "";
            } else {
              return ("<a href='" + n.rdoc_index + "' class='version"+ selected +"'>" + n.version + "</a>");
            }
          });
        $('#current').html($(this).clone()).append(" <span class='quiet'>" + versions.join("&nbsp;&nbsp;") + "</span>");
        $('#current a.gemname').attr('href',$(this).attr('rel')).click(function(){window.open(this.href);return false;});
        document.title = $(this).clone().text() + "-" + selectedVer + " - Bdoc"; 
        return false;
      };
      $(function(){
        resizeViewport();
        $(window).bind('resize', resizeViewport);
        $('#nav a.gemname').bind('click',selectGem);
        $('#current a.version').live('click',function(){
          $(this).siblings('a.version').removeClass('selected');
          $(this).addClass('selected');
          $('#viewport iframe').attr('src',this.href);
          document.title = $(this).parent().siblings('a.gemname').text() +"-"+ $(this).text()  + " - Bdoc"; 
          return false;
        });
      });
      // ]]>
    </script>
  </head>
  <body>
    <div id="navbar">
      <strong><a href="#" onclick="$('#nav').toggle()" class="loud bold" title="Click here to see the index of Gem docs">Bdoc &rarr;</a></strong>
      <span id="current"></span>
      <a id="about" class="quiet" href="http://github.com/manalang/bdoc/tree" onclick="window.open(this.href);return false;">fork_me@github</a>
    </div>
    <div id="viewport">
      <iframe class="hide" src=""></iframe>
    </div>
    <div id="nav">
      <% @gems.each do |gem| %>
      <span class="gem">
        <% if gem[:versions].last[:rdoc_index]  %>
        <a href="<%= gem[:versions].last[:rdoc_index] %>" class="gemname" title="<%= gem[:description] %>" rel="<%= gem[:homepage] %>"><%= gem[:name] %></a>
        <% else %>
        <span class="gemname quiet" title="<%= gem[:description] %>">*<%= gem[:name] %></span>
        <% end %>
        <span class="version hide"><%= gem[:versions].last[:version] %></span>
      </span>
      <% end %>
      <p><em class="quiet">* Rdocs for these Gems are not installed</em></p>
    </div>
  </body>
</html>
